*{
    margin: 0;
    padding: 0;
    font-family:"Brush Script", cursive;
    box-sizing: border-box;
}
body{
    background: #FFFACD (Lemon Chiffon);
}

.app{
    background:#fff;
    width:50%;
    max-width:600px;
    margin:100px auto 0;
    border-radius: 10px;
    padding:30px;
}
.app h1{
    font-weight:21px;
    color:#001e4d;
    font-weight:600;
    border-bottom:1px solid #fff;
    padding-bottom:30px;
}
.quiz{
    padding:20px 0;

}
.quiz h2{
    font-size:10px;
    color:#001e4d;
    font-weight:600;
}
.btn{
    background:#a7a8aa;
    color:#0000ff;
    font-weight:500;
    width: 100%;
    border: 1px solid #222;
    padding:10px;
    margin:10px 0;
    text-align:left;
    border-radius:4px;
    cursor:pointer;
    transition:all 0.3s;
}
.btn:hovernot([disabled]){
    background:#222;
    color:#fff;
}
.btn:disabled{
    background:#d8dbdf;
    color:#140734;
    cursor:not-allowed;
}
#next-btn{
    background:#001e4d;
    color:#fff;
    font-weight: 500;
    width:350px;
    border:0;
    padding:10px;
    margin:20px auto 0;
    border-radius:4px;
    cursor:pointer;
    display:none;
}
.correct{
    background:#28a745;
    color:#fff;
    font-weight:500;
    width:100%;
    border:1px solid #222;
    padding:10px;
    margin:10px 0;
    text-align:left;
    border-radius:4px;
    cursor:pointer;
}
.incorrect{
    background:#dc3545;
    color:#fff;
    font-weight:500;
    width:100%;
    border:1px solid #222;
    padding:10px;
    margin:10px 0;
    text-align:left;
    border-radius:4px;
    cursor:pointer;
}